this is my code

In [4]:
a=4
b=5
if a<b:
  print('a<b')
  if a==3:
    print('a=3')
  elif a==4:
    print('a=4')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=4
ok

In [5]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [8]:
i=[]
for t in range(10):
  t+=1
  i.append(t)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
try:
  a=int(input('輸入數字:'))
  print(a+1)
except:
  pass
  print('what a dumb ass')

輸入數字:嗨
what a dumb ass

In [14]:
a=[]
for i in range(1,10):
  a.append(i*i)
print(a)

b=[j*j for j in range(2,11)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 9, 16, 25, 36, 49, 64, 81, 100]